In [2]:
import pandas as pd
df = pd.read_csv(r'C:\Users\USER\Desktop\work\S-P-500-Analysis\2023-09-15 12_00pm (1).csv')
dff = pd.DataFrame(df)
dff.head()

,TIMESTAMP,SOIL_COMP,SOIL_MOISTURE,SOIL_PH,NITROGEN_LEVEL,PHOSPHOROUS_LEVEL,ORGANIC_MATTER
0,2023-06-24T14:37:00Z,31.86,28.5,5.76,13.91,3.80,5.17
1,2023-01-14T00:57:00Z,59.36,29.2,7.84,16.58,4.00,1.70
2,2023-03-14T14:40:00Z,13.26,32.4,4.39,7.10,8.93,3.46
3,2023-05-28T18:17:00Z,23.45,23.4,4.25,8.63,3.13,5.26
4,2022-12-31T10:39:00Z,46.32,58.3,5.76,NaN,NaN,8.35

In [3]:
print(dff['SOIL_PH'].median(),dff['SOIL_PH'].mean(),dff['SOIL_COMP'].median(),dff['SOIL_COMP'].mean(),dff['SOIL_MOISTURE'].median(),dff['SOIL_MOISTURE'].mean(),dff['NITROGEN_LEVEL'].median(),dff['NITROGEN_LEVEL'].mean(),dff['PHOSPHOROUS_LEVEL'].median(),dff['PHOSPHOROUS_LEVEL'].mean(),dff['ORGANIC_MATTER'].median(),dff['ORGANIC_MATTER'].mean(),sep ='\n')

6.0
5.99898759887798
44.98
44.995360439922194
40.0
40.00122835866145
17.5
17.501529745710698
6.0
6.000645227014283
5.5
5.498589961538018

In [4]:
WEATHER = pd.read_csv(r'C:\Users\USER\Desktop\work\S-P-500-Analysis\WEATHER_DATA_TABLE.csv')
WEATHER_TABLE = pd.DataFrame(WEATHER)
WEATHER_TABLE.head()

              TIMESTAMP WEATHER_CONDITION  WIND_SPEED  PRECIPITATION
0  2023-02-02T21:33:00Z            Cloudy        16.9           8.74
1  2022-12-29T10:40:00Z               NaN        17.0           2.72
2  2023-08-20T10:45:00Z     Partly Cloudy        19.8           0.58
3  2023-05-16T22:23:00Z               Fog         9.7           0.67
4  2022-11-23T18:16:00Z               NaN        19.7            NaN

In [5]:
print(WEATHER_TABLE['WIND_SPEED'].mean(), WEATHER_TABLE['WIND_SPEED'].median(), WEATHER_TABLE['PRECIPITATION'].mean(), WEATHER_TABLE['PRECIPITATION'].median(), sep='\n')

15.00410712298422
15.0
4.9978367519941145
5.0